.layout-select {
  margin-top: 10px;
  gap: 10px;

  & .layout-select__item {

    &.form-type--radio {
      display: block;
      margin: 1px;
      width: calc(50% - 5px);
      flex-grow: 1;
    }

    &.js-form-type-radio:not(:first-child),
    &.js-form-type-checkbox:not(:first-child) {
      margin: 1px;
    }

    & label.option {
      font-size: 1em;
      outline: none;
      margin: 1px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      background: #F7F6F7;
    }

    & input:checked+label.option {
      outline: 2px solid #99B8FF;
      background: #F0F4FF;

      & .layout-icon__region {
        fill: #4D83FF;
      }
    }

    & input:focus:checked+label.option {
      outline: 4px solid blue;
    }

    & label.option:hover {
      outline: 2px solid #99B8FF;
    }

    & .layout-icon__region {
      stroke: transparent;
      fill: #C3C1C3;
    }
  }
}
